main{
    background-color: #f5f5f5;
    padding: 20px 0;
}
.form {
    padding: 0 20px;
    width: 375px;
    max-width: 100%;
    margin: 0 auto;
}
.row {
    margin-bottom: 8px;
}
.lable {

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

